name: "{{ project_name }}"
version: 1.0.0
description: "{{ project_description }}"
author: "{{ author_name }}"
targets:
  - "{{ harness }}"

dependencies:
  apm:
    - git: microsoft/apm
      path: packages/apm-guide
      ref: v0.28.0
      skills:
        - apm-usage

mcp: []
includes: auto
scripts: {}