{
    "recommendations": [
        "charliermarsh.ruff",
        "ecmel.vscode-html-css",
        "github.copilot-chat",
        "meta.pyrefly",
        "mhutchie.git-graph",
        "ms-azuretools.vscode-containers",
        "ms-azuretools.vscode-docker",
        "ms-ossdata.vscode-pgsql",
        "ms-python.debugpy",
        "ms-python.python",
        "ms-toolsai.jupyter",
        "ms-toolsai.jupyter-keymap",
        "ms-toolsai.jupyter-renderers",
        "ms-toolsai.vscode-jupyter-cell-tags",
        "ms-toolsai.vscode-jupyter-slideshow",
        "njpwerner.autodocstring",
        "openai.chatgpt",
        "redhat.vscode-xml",
        "redhat.vscode-yaml",
        "shd101wyy.markdown-preview-enhanced",
        "samuelcolvin.jinjahtml"
    ]
}
